

<!DOCTYPE html>
<html>
  <head>
    <title>nodoca</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/lib/w2ui-1.2.min.css' />
  </head>
  <body>
      
<div id="layout" style="width: 95%; height: 400px;"></div>
      <script src="/js/lib/jquery-1.10.2.min.js"></script>
      <script src="/js/lib/underscore-min.js"></script>
      <script src="/js/lib/backbone-min.js"></script>
      <script src="/js/lib/w2ui-1.2.min.js"></script>
      <script src="/js/lib/socket.io.min.js"></script>
    <script>
        $(function () {
        	var socket = io.connect('http://'+location.hostname,{
				'reconnect': true,
				'reconnection delay': 500,
				'max reconnection attempts': 10
			});
        	socket.on('connect', function() {
        		console.log('connected');
    		});
    		$('#btn').click(function() {
    			var message = $('#message');
    			console.log(message);
    			socket.emit('msg send', message.val());
    		});
    		socket.on('msg push', function (msg) {
    			console.log(msg);
    			var date = new Date();
    			$('#list').prepend($('<dt>' + date + '</dt><dd>' + msg + '</dd>'));
    		});
    		socket.on('msg updateDB', function(msg){
    			console.log(msg);
    		});
    		
    		var pstyle = 'border: 1px solid #dfdfdf; padding: 5px;';
    		$('#layout').w2layout({
                                name: 'layout',
                                panels: [
                                         { type: 'top', size: 80, style: pstyle, content: '<img width="200" src="/images/logo.png" />', resizable : true},
                                         { type: 'left', size: 200, style: pstyle, content: 'left', resizable : true},
                                         { type: 'main', style: pstyle, content: '<div class="w2ui-field"><textarea name="field_textarea" type="text" style="width: 385px; height: 80px; resize: none"></textarea></div><a class="button" name="send" value="Send">送信</a>' }
                                         ]
                                });
          });
        //w2ui['layout'].content('top', 'This is some content set manually')
        </script>
  </body>
</html>

